<a href='https://ibb.co/W34pJdv'> <img src="https://i.ibb.co/z5THvLV/HI-Logotype-Black-high-res.jpg" /></a>

## Data Structures as Collections and their Operations.

We have understood the fundamentals, let us layer the fundamentals on each other to derive secondary complex patterns.

1. Lists - list operations.
2. Tuples - tuple operations.
3. Sets - set operations.
4. Dictionaries - dictionary operations.
5. Collection operations - converting data structures.
6. Further characteristics.
7. Debugging.
8. Why!!

### Lists

**A List Is a Sequence**

Like a string, a list is a sequence of values. Lists are ordered, like strings. Elements are stored linearly at a **specific index**. In a string, the values are characters; in a
list, they can be any type. The values in a list are called elements or sometimes items.
There are several ways to create a new list; the simplest is to enclose the elements in
square brackets (`[ and ]`):

`[10, 20, 30, 40]`

`['crunchy frog', 'ram bladder', 'lark vomit']`

The first example is a list of four integers. The second is a list of three strings. The
elements of a list don’t have to be the same type. The following list contains a string, a
float, an integer, and (lo!) another list:
`['spam', 2.0, 5, [10, 20]]`

A list within another list is nested.

A list that contains no elements is called an empty list; you can create one with ***empty
brackets**, `[]`.

As you might expect, you can assign list values to variables:

In [1]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [42, 123]
empty = []
print(cheeses, numbers, empty)

['Cheddar', 'Edam', 'Gouda'] [42, 123] []

### String Lists

To get started, let’s deepdive into string

#### A String Is a Sequence

A string is a sequence of characters. You can access the characters one at a time with the bracket operator:

In [5]:
fruit = 'banana'
letter = fruit[0]

In [3]:
print(fruit)

banana

In [6]:
letter

'b'

The second statement selects character number `1` from `fruit` and assigns it to `letter`.

The expression in brackets is called an `index`. The `index` indicates which character in the `sequence` you want **(hence the name)**.

But you might not get what you expect:

In [ ]:
print(letter)

For most people, `the first letter of` **'banana'** is *b*, not *a*. But for computer scientists,
the index is an offset from the beginning of the string, and the offset of the first letter
is **zero**.

In [7]:
letter = fruit[0]
letter

'b'

So `b` is the `0th` letter **(“zero-eth”)** of **'banana'**, `a` is the `1th` letter **(“one-eth”)**, and `n` is
the `2th` letter **(“two-eth”)**.
As an index, you can use an expression that contains variables and operators:

In [9]:
i = 0
fruit[i]

'b'

In [12]:
print(fruit)

banana

In [11]:
fruit[i+3]

'a'

In [13]:
letter = fruit[1.5]
print(letter)

TypeError: string indices must be integers

The value of the index has to be an integer. Otherwise you get:
`TypeError: string indices must be integer`

**len**

len is a built-in function that returns the number of characters in a string:

In [14]:
fruit = 'banana'
len(fruit)

6

To get the last letter of a string, you might be tempted to try something like this:

In [18]:
length = len(fruit) 
last = fruit[length]

`IndexError: string index out of range`
    
The reason for the `IndexError` is that there is no **letter in 'banana'** with the index `6`.
Since we started counting at `zero`, the `six letters` are numbered `0 to 5`. To get the last
character, you have to **subtract 1 from length**:

In [ ]:
last = fruit[length-1]
last

Or you can use negative indices, which count backward from the end of the string.
The expression `fruit[-1]` yields the last letter, `fruit[-2]` yields the second to last,
and so on

**String Slices**

A segment of a string is called a `slice`. Selecting a `slice` is similar to selecting a character

In [21]:
s = 'MontyPython'
M=0
o=1
n=2
t=3
y=4
P=5
y=6
t=7
h=8
o=9
n=10

'MontyP'

In [24]:
s[5:11]

'Pytho'

The operator `[n:m]` returns the part of the string from the **“n-eth”** character to the
**“m-eth”** character, including the first but excluding the last. This behavior is counter‐
intuitive, but it might help to imagine the indices pointing between the characters, as
in Table.

|‘B’	|‘a’	|‘n’	|‘a’	|‘n’ |‘a’
-----|-----|----- |----- |-----  |-----
|0	|1	|2	|3	|4 | 5

If you omit the first index **(before the colon)**, the slice starts at the beginning of the
string. If you omit the **second index**, the slice goes to the end of the string:

In [28]:
fruit = 'banana'
fruit[:3]

'ban'

In [31]:
fruit[4:3]

''

If the first index is **greater than or equal to the second** the result is an empty string,
represented by two quotation marks:

In [34]:
fruit = 'banana'
fruit[3:5]

'an'

An **empty string** contains no characters and has **length 0**, but other than that, it is the same as any other string.
Continuing this example, what do you think `fruit[:]` means? Try it and see.

**Strings Are Immutable**

It is tempting to use the `[]` operator on the left side of an assignment, with the intention of changing a character in a string. For example:

In [36]:
greeting = 'Hello, world!'
greeting[0] = 'J'

TypeError: 'str' object does not support item assignment

`TypeError: 'str' object does not support item assignment`
    
The reason for the error is that strings are **immutable**, which means you **can’t change
an existing string**. The best you can do is create a new string that is a variation on the
original:

In [38]:
greeting = 'Hello, world!'
new_greeting = 'J' + greeting[1:]
new_greeting

'Jello, world!'

In [ ]:
H=0
e=1
l=2
l=3
o=4
,=5

In [40]:
greeting[0:5]

'Hello'

This example concatenates a new **first letter** onto a **slice of greeting**. It has no effect
on the original string

#### Creating a list that contains items of the string data type

In [41]:
sea_creatures = ['shark', 'cuttlefish', 'squid', 'mantis shrimp', 'anemone']
print(sea_creatures)

['shark', 'cuttlefish', 'squid', 'mantis shrimp', 'anemone']

In [42]:
type(sea_creatures)

list

As an ordered sequence of elements, each item in a list can be called individually, through indexing. Lists are a compound data type made up of smaller parts, and are very flexible because they can have values added, removed, and changed. When you need to store a lot of values or iterate over values, and you want to be able to readily modify those values, you’ll likely want to work with list data types.

**Indexing Lists**

Each item in a list corresponds to an index number, which is an integer value, starting with the index number 0.

For the list sea_creatures, the index breakdown looks like this:

|‘shark’	|‘cuttlefish’	|‘squid’	|‘mantis shrimp’	|‘anemone’
-----|-----|----- |----- |-----
|0	|1	|2	|3	|4


The first item, the string **'shark'** starts at index `0`, and the list ends at index `4` with the item **'anemone'**.

Because each item in a Python list has a corresponding index number, we’re able to access and manipulate lists in the same ways we can with other sequential data types.

Now we can call a discrete item of the list by referring to its index number:

In [45]:
print(sea_creatures[2])

squid

The index numbers for this list range from `0-4`, as shown in the table above. So to call any of the items individually, we would refer to the index numbers like this:

* `sea_creatures[0] = 'shark'`
* `sea_creatures[1] = 'cuttlefish'`
* `sea_creatures[2] = 'squid'`
* `sea_creatures[3] = 'mantis shrimp'`
* `sea_creatures[4] = 'anemone'`

If we call the list sea_creatures with an index number of any that is **greater than 4**, it will be out of range as it will not be valid:

In [62]:
print(sea_creatures)

['octopus', 'cuttlefish', 'squid', 'mantis shrimp', 'anemone']

In [63]:
sea_creatures[1] = 'whale'
print(sea_creatures)

['octopus', 'whale', 'squid', 'mantis shrimp', 'anemone']

In [55]:
print(sea_creatures[-5:-1])

['shark', 'cuttlefish', 'squid', 'mantis shrimp']

In addition to positive index numbers, we can also access items from the list with a negative index number, by counting backwards from the end of the list, starting at -1. This is especially useful if we have a long list and we want to pinpoint an item towards the end of a list.

For the same list sea_creatures, the negative index breakdown looks like this:

|‘shark’	|‘cuttlefish’	|‘squid’	|‘mantis shrimp’	|‘anemone’
-----|-----|----- |----- |-----
|-5	|-4	|-3	|-2	|-1

So, if we would like to print out the item `'squid'` by using its negative index number, we can do so like this:

In [56]:
print(sea_creatures[0])

shark

We can concatenate string items in a list with other strings using the `+` operator:

In [57]:
print('fish is a ' + sea_creatures[0])

fish is a shark

We were able to concatenate the string item at index number 0 with the string `'Sammy is a '`. We can also use the `+` operator to **concatenate 2 or more lists together**.

With index numbers that correspond to items within a list, we’re able to access each item of a list discretely and work with those items.

#### Lists Are Mutable

The syntax for accessing the elements of a list is the same as for accessing the characters of a string the **bracket operator** `[]`. The expression inside the brackets specifies the
index. Remember that the **indices start at 0**:

In [60]:
sea_creatures[0]

'octopus'

Unlike strings, **lists are mutable**. When the bracket operator appears on the left side of
an assignment, it identifies the element of the list that will be assigned:

**Modifying Items in Lists**

We can use indexing to change items within the list, by setting an index number equal to a different value. This gives us greater control over lists as we are able to modify and update the items that they contain.

If we want to change the string value of the item at index `1` from `'cuttlefish'` to `'octopus'`, we can do so like this:

In [59]:
sea_creatures[0] = 'octopus'

In [ ]:
 = 'Whale'

Now when we print `sea_creatures`, the list will be different:

In [61]:
print(sea_creatures)

['octopus', 'cuttlefish', 'squid', 'mantis shrimp', 'anemone']

We can also change the value of an item by using a **negative index** number instead:

In [ ]:
sea_creatures[-3] = 'blobfish'
print(sea_creatures)

Now `'blobfish'` has replaced `'squid'` at the negative index number of `-3` **(which corresponds to the positive index number of 2)**.

Being able to modify items in lists gives us the ability to change and update lists in an efficient way.

**Slicing Lists**

We can also call out a few items from the list similar to String slicing. Let’s say we would like to only print the `middle items` of sea_creatures, we can do so by **creating a slice**. With slices, we can call multiple values by creating a range of index numbers separated by a colon `[x:y]`:

In [70]:
print(sea_creatures[1:4])

['whale', 'squid', 'mantis shrimp']

When creating a slice, as in `[1:4]`, the **first index number** is where the slice starts **(inclusive)**, and the **second index number** is where the slice ends **(exclusive)**, which is why in our example above the items at position, 1, 2, and 3 are the items that print out.

If we want to include either end of the list, we can omit one of the numbers in the `list[x:y]` syntax. For example, if we want to **print the first 3 items of the list sea_creatures**— which would be `'shark', 'octopus', 'blobfish'` — we can do so by typing:

In [73]:
print(sea_creatures[:3])

['octopus', 'whale', 'squid']

This printed the beginning of the list, stopping right before index `3`.

To include all the items at the end of a list, we would reverse the syntax:

In [74]:
print(sea_creatures)

['octopus', 'whale', 'squid', 'mantis shrimp', 'anemone']

In [75]:
print(sea_creatures[2:])

['squid', 'mantis shrimp', 'anemone']

We can also use negative index numbers when slicing lists, similar to positive index numbers:

In [ ]:
print(sea_creatures[-4:-2])
print(sea_creatures[-3:])

One last parameter that we can use with slicing is called **stride**, which refers to how many items to move forward after the first item is retrieved from the list. So far, we have omitted the stride parameter, and **Python defaults to the stride of 1**, so that every item between two index numbers is retrieved.

The syntax for this construction is `list[x:y:z]`, with `z` referring to stride. Let’s make a larger list, then slice it, and give the stride a value of `2`:

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

print(numbers[1:11:2])

Our construction `numbers[1:11:2]` prints the values between index numbers inclusive of **1 and exclusive of 11**, then the stride value of `2` tells the program to print out only every other item.

We can omit the first two parameters and use stride alone as a parameter with the syntax `list[::z]`:

In [ ]:
print(numbers[::3])

By printing out the list numbers with the stride set to 3, only every third item is printed:

**0**, 1, 2, **3**, 4, 5, **6**, 7, 8, **9**, 10, 11, **12**

Slicing lists with both positive and negative index numbers and indicating stride provides us with the control to manipulate lists and receive the output we’re trying to achieve.

#### List Operators
Operators can be used to make modifications to lists. We’ll review using the + and * operators and their compound forms `+=` and `*=`.

The `+` operator can be used to concatenate two or more lists together:

In [ ]:
sea_creatures = ['shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone']
oceans = ['Pacific', 'Atlantic', 'Indian', 'Southern', 'Arctic']

print(sea_creatures + oceans)

Because the `+` operator can concatenate, it can be used to add an item (or several) in list form to the end of another list. Remember to place the item in square brackets:

The `*` operator can be used to multiply lists. Perhaps you need to make copies of all the files in a directory onto a server, or share a playlist with friends — in these cases you would need to multiply collections of data.

Let’s multiply the `sea_creatures list` by `2` and the `oceans list by 3`:

In [ ]:
print(sea_creatures * 2)
print(oceans * 3)

By using the `*` operator we can replicate our lists by the number of times we specify.

#### List Methods

Python provides methods that operate on lists. For example, **append** adds a new element to the end of a list:

In [ ]:
t = ['a', 'b', 'c']
t.append('d')
t

**extend** takes a list as an argument and appends all of the elements:

In [ ]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
t1

This example leaves `t2` unmodified.
sort arranges the elements of the list from low to high:

In [ ]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
t

Most `list` methods are void; they modify the `list and return None`. If you accidentally
write `t = t.sort()`, you will be disappointed with the result

To add an element at a particular index in the list, we can use the `insert()` method. We’ll use it in the following format:

`t.insert(index, newElement)`

If a value already exists at that index, the whole list from that value onwards will be shifted one step to the right:

In [ ]:
num_list = [1, 2, 3, 5, 6]
num_list.insert(3, 4)  # Inserting 4 at the 3rd index. 5 and 6 shifted ahead
print(num_list)

**Index Search**

With `lists` its really easy to access a value through its index. However, the opposite operation is also possible where we can find the index of a given value.

For this, we’ll use the `index()` method:

In [ ]:
cities = ["London", "Paris", "Los Angeles", "Beirut"]
print(cities.index("Los Angeles"))  # It is at the 2nd index

If we just want to verify the existence of an element in a list, we can use the `in` operator:

In [ ]:
cities = ["London", "Paris", "Los Angeles", "Beirut"]
print("London" in cities)
print("Moscow" not in cities)

**List Sort**

A `list` can be sorted in ascending order using the `sort()` method. Sorting can be done alphabetically or numerically depending on the content of the list:

In [ ]:
num_list = [20, 40, 10, 50.4, 30, 100, 5]
num_list.sort()
print(num_list)

#### Deleting Elements
There are several ways to delete elements from a list. If you know the index of the
element you want, you can use `pop`

In [ ]:
t = ['a', 'b', 'c']
x = t.pop(1)
t

In [ ]:
x

`pop` modifies the `list` and returns the element that was removed. If you don’t provide
an `index`, it **deletes and returns the last element**.

Items can be removed from lists by using the `del` statement. This will delete the value at the index number you specify within a list.

From the `sea_creatures list`, let’s remove the item `'octopus'`. This item is located at the `index` position of `1`. To remove the item, we’ll use the `del` statement then call the list variable and the index number of that item:

In [ ]:
del sea_creatures[1]
print(sea_creatures)

Now the item at index position `1`, the string `'octopus'`, is no longer in our list `sea_creatures`.

We can also specify a `range` with the `del` statement. Say we wanted to remove not only the item `'octopus'`, but also `'blobfish'` and `'mantis shrimp'` as well. We can call a range in sea_creatures with the del statement to accomplish this:

In [ ]:
sea_creatures =['shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone', 'yeti crab']

del sea_creatures[1:4]
print(sea_creatures)

By using a range with the `del` statement, we were able to remove the `items` between the index number of `1` **(inclusive)**, and the index number of `4` **(exclusive)**, leaving us with a list of 3 items following the removal of 3 items.

The `del` statement allows us to remove specific items from the list data type.

If you know the element you want to remove (but not the index), you can use `remove`:

In [ ]:
t = ['a', 'b', 'c']
t.remove('b')
t

#### Lists and Strings

A string is a **sequence of characters** and a list is a **sequence of values**, but a list of characters is not the same as a string. To convert from a string to a list of characters, you can use list:

In [ ]:
s = 'spam'
t = list(s)
t

Because `list` is the name of a built-in function, you should **avoid using it as a variable name**. I also avoid `l `because it looks too much like `1`. So that’s why I use `t`.
The list function breaks a string into individual letters. If you want to break a string
into words, you can use the split method:

In [ ]:
s = 'pining for the fjords'
t = s.split()
t

An optional argument called a **delimiter** specifies which characters to use as word
boundaries. The following example uses a hyphen as a delimiter:

In [ ]:
s = 'spam-spam-spam'
delimiter = '-'
t = s.split(delimiter)
t

**join** is the inverse of split. It takes a list of strings and concatenates the elements.
join is a string method, so you have to invoke it on the delimiter and pass the list as a
parameter:

In [ ]:
t = ['pining', 'for', 'the', 'fjords']
delimiter = ' '
s = delimiter.join(t)
s

In this case the **delimiter** is a space character, so join puts a space between words. To
concatenate strings without spaces, you can use the empty string, '', as a delimiter.

#### Constructing a List with List Items

Lists can be defined with items that are made up of `lists`, with each bracketed list enclosed inside the larger brackets of the parent list:

In [ ]:
sea_names = [['shark', 'octopus', 'squid', 'mantis shrimp'],['Sammy', 'Jesse', 'Drew', 'Jamie']]

These lists within lists are called nested lists.

To access an item within this list, we will have to use multiple indices:

In [ ]:
print(sea_names[1][0])
print(sea_names[0][0])

The first list, since it is equal to an item, will have the index number of 0, which will be the first number in the construction, and the second list will have the index number of 1. Within each inner nested list there will be separate index numbers, which we will call in the second index number:

* `sea_names[0][0] = 'shark'`
* `sea_names[0][1] = 'octopus'`
* `sea_names[0][2] = 'squid'`
* `sea_names[0][3] = 'mantis shrimp'`
* `sea_names[1][0] = 'Sammy'`
* `sea_names[1][1] = 'Jesse'`
* `sea_names[1][2] = 'Drew'`
* `sea_names[1][3] = 'Jamie'`

#### Aliasing
If `a` refers to an `object` and you assign `b = a`, then both variables refer to the same
object:

In [ ]:
a = [1, 2, 3]
b = a
b is a

The **association of a variable** with an object is called a **reference**. In this example,
there are two references to the same object.
An object with **more than one reference** has more than one name, so we say that the
object is **aliased**.
If the aliased object is mutable, changes made with one alias affect the other:

In [ ]:
b[0] = 42
a

Although this behavior can be useful, it is **error-prone**. In general, it is safer to avoid
aliasing when you are working with mutable objects.
For immutable objects like strings, aliasing is not as much of a problem. In this example:

In [ ]:
a = 'banana'
b = 'banana'

It almost never makes a difference whether a and b refer to the same string or not

### Debugging
Careless use of lists (and other mutable objects) can lead to long hours of debugging.
Here are some common pitfalls and ways to avoid them:

 1. Most list methods modify the argument and return **None**. This is the opposite of
the string methods, which return a new string and leave the original alone.
If you are used to writing string code like this:

In [ ]:
word = word.strip()

It is tempting to write list code like this:

In [ ]:
t = t.sort() # WRONG!

Because **sort** returns `None`, the next operation you perform with t is likely to fail.
Before using **list methods and operators**, you should read the documentation
carefully and then test them in interactive mode.

2. Pick an idiom and stick with it.Part of the problem with lists is that there are too many ways to do things. For
example, to remove an element from a list, you can use `pop, remove, del, or even
a slice assignment`.
To add an element, you can use the `append` method or the `+` operator. Assuming
that `t` is a list and `x` is a list element, these are correct:

In [ ]:
t.append(x)
t = t + [x]
t += [x]

And these are wrong:

In [ ]:
t.append([x]) # WRONG!
t = t.append(x) # WRONG!
t + [x] # WRONG!
t = t + x # WRONG!

Try out each of these examples in interactive mode to make sure you understand
what they do. Notice that only the last one causes a runtime error; the other three
are legal, but they do the wrong thing

3. Make copies to avoid aliasing.
If you want to use a method like `sort` that modifies the argument, but you need
to keep the original list as well, you can make a `copy`:

In [ ]:
t = [3, 1, 2]
t2 = t[:]
t2.sort()
print(t)
print(t2)

In this example you could also use the built-in function sorted, which returns a
new, sorted list and leaves the original alone:

In [ ]:
t2 = sorted(t)
print(t)
print(t2)

### Dictionaries

A **dictionary** is like a list, but more general. In a list, the indices have to be integers; in a dictionary they can be (almost) any type. Dictionaries are **unordered** because the entries are not stored in a linear structure.

A dictionary contains a collection of indices, which are called keys, and a collection of values. Each **key** is associated with a single value. The association of a **key and a value** is called a **key-value pair** or sometimes an **item**.

In mathematical language, a dictionary represents a mapping from **keys to values**, so you can also say that each **key “maps to” a value**. As an example, we’ll build a dictionary that maps from English to Spanish words, so the keys and the values are all strings. The function `dict` creates a new dictionary with no items. Because `dict` is the name
of a built-in function, you should avoid using it as a variable name.

In [ ]:
eng2sp = dict()
eng2sp

The squiggly brackets, `{}`, represent an empty dictionary. To add items to the dictionary, you can use square brackets:

In [ ]:
eng2sp['one'] = 'uno'

The line above creates an item that **maps from the key 'one' to the value 'uno'**. If we print the dictionary again, we see a key-value pair with a colon between the **key and value**:

In [ ]:
eng2sp

This output format is also an input format. For example, you can create a new dictionary with three items:

In [ ]:
eng2sp = {'one': 'uno', 'two': 'dos', 'three': 'tres'}

But if you print `eng2sp`, you might be surprised:

In [ ]:
eng2sp

The **order** of the **key-value pairs** might not be the same. If you type the same example on your computer, you might get a different result. In general, the order of items in a dictionary is unpredictable. But that’s not a problem because the elements of a dictionary are never indexed withinteger indices. Instead, you use the **keys** to look up the corresponding values:

In [ ]:
eng2sp['two']

The key `'two'` always maps to the value `'dos'` so the order of the items doesn’t matter.
**If the key isn’t in the dictionary, you get an exception:** `KeyError`

In [ ]:
eng2sp['four']

The `len` function works on dictionaries; it returns the number of `key-value pairs`:

In [ ]:
len(eng2sp)

The `in` operator works on dictionaries, too; it tells you whether something appears as a **key** in the dictionary (appearing as a value is not good enough).

In [ ]:
'one' in eng2sp

In [ ]:
'uno' in eng2sp

To see whether something appears as a `value` in a dictionary, you can use the method
`values`, which returns a **collection of values**, and then use the in operator:

In [ ]:
vals = eng2sp.values()
'uno' in vals

The `in` operator uses different algorithms for `lists and dictionaries`. For lists, it
searches the elements of the list in order. As the list gets longer, the search time gets longer in direct proportion

The `in` operator uses different algorithms for lists and dictionaries. For lists, it searches the elements of the list in order, as in “Searching” on page 89. As the list gets longer, the search time gets longer in direct proportion

For dictionaries, Python uses an algorithm called a hashtable that has a remarkable
property: the in operator takes about the same amount of time no matter how many
items are in the dictionary. I explain how that’s possible in **“Hashtables”**
but the explanation might not make sense until when we cover more topics.

**Using Methods to Access Elements** 

In addition to using keys to access values, we can also work with some built-in methods:

`dict.keys() isolates keys
dict.values() isolates values
dict.items() returns items in a list format of (key, value) tuple pairs`

To return the keys, we would use the `dict.keys()` method. In our example, that would use the variable name and be `eng2sp.keys()`. Let’s pass that to a `print()` method and look at the output:

In [ ]:
print(eng2sp.keys())

Both the methods `keys() and values()` return **unsorted lists of the keys and values** present in the eng2sp dictionary with the view objects of dict_keys and dict_values respectively.

If we are interested in all of the items in a dictionary, we can access them with the `items()` method:

In [ ]:
print(eng2sp.items())

**Modifying Dictionaries**

Dictionaries are a mutable data structure, so you are able to modify them. In this section, we’ll go over adding and deleting dictionary elements.

**Adding and Changing Dictionary Elements**

We’ll look at how this works in practice by adding a key-value pair to a dictionary called `usernames`:

In [ ]:
usernames = {'Sammy': 'sammy-shark', 'Jamie': 'mantisshrimp54'}

usernames['Drew'] = 'squidly'

print(usernames)

We see now that the dictionary has been updated with the `'Drew'`: `'squidly'` key-value pair. Because dictionaries may be unordered, this pair may occur anywhere in the dictionary output. If we use the `usernames` dictionary later in our program file, it will include the additional key-value pair.

Additionally, this syntax can be used for modifying the value assigned to a key. In this case, we’ll reference an existing key and pass a different value to it.

Let’s consider a dictionary `drew` that is one of the users on a given network. We’ll say that this user got a bump in followers today, so we need to update the integer value passed to the 'followers' key. We’ll use the `print()` function to check that the dictionary was modified.

In [ ]:
drew = {'username': 'squidly', 'online': True, 'followers': 305}

drew['followers'] = 342

print(drew)

In the output, we see that the number of followers jumped from the integer value of `305 to 342`.

We can use this method for adding key-value pairs to dictionaries with user-input.

We can also add and modify dictionaries by using the `dict.update()` method. This varies from the `append()` method available in lists.

In the `jesse` dictionary below, let’s add the key `'followers'` and give it an integer value with `jesse.update()`. Following that, let’s `print()` the updated dictionary.

In [ ]:
jesse = {'username': 'JOctopus', 'online': False, 'points': 723}

jesse.update({'followers': 481})

print(jesse)

From the output, we can see that we successfully added the `'followers'`: `481 key-value pair` to the dictionary `jesse`.

We can also use the `dict.update()` method to modify an existing key-value pair by replacing a given value for a specific key.

Let’s change the online status of `Sammy` from `True` to `False` in the `sammy dictionary`:

In [ ]:
sammy = {'username': 'sammy-shark', 'online': True, 'followers': 987}

sammy.update({'online': False})

print(sammy)

**The line sammy.update({'online': False})** references the existing key 'online' and modifies its Boolean value from True to False. When we call to print() the dictionary, we see the update take place in the output.

To add items to dictionaries or modify values, we can use either the `dict[key] = value` syntax or the method `dict.update()`.

**Deleting Dictionary Elements**

Just as you can add key-value pairs and change values within the dictionary data type, you can also delete items within a dictionary.

To remove a key-value pair from a dictionary, we’ll use the following syntax:

In [ ]:
del dict[key]

Let’s take the `jesse` dictionary that represents one of the `users`. We’ll say that `Jesse` is no longer using the online platform for playing games, so we’ll remove the item associated with the `'points'` key. Then, we’ll `print` the dictionary out to confirm that the item was deleted:

In [ ]:
jesse = {'username': 'JOctopus', 'online': False, 'points': 723, 'followers': 481}

del jesse['points']

print(jesse)

The line `del jesse['points']` removes the key-value pair 'points': `723` from the jesse dictionary.

If we would like to clear a dictionary of all of its values, we can do so with the `dict.clear()` method. This will keep a given dictionary in case we need to use it later in the program, but it will no longer contain any items.

Let’s remove all the items within the `jesse` dictionary:

In [ ]:
jesse = {'username': 'JOctopus', 'online': False, 'points': 723, 'followers': 481}

jesse.clear()

print(jesse)

The output shows that we now have an empty dictionary devoid of key-value pairs.

If we no longer need a specific dictionary, we can use `del` to get rid of it entirely:

In [ ]:
del jesse

print(jesse)

Because dictionaries are mutable data types, they can be added to, modified, and have items removed and cleared.

### Tuple

A **tuple** is a data structure that is an immutable, or unchangeable, ordered sequence of elements. Because tuples are immutable, their values cannot be modified. The following is an example tuple that consists of four elements:

**Tuples Are Immutable**

A tuple is a sequence of values. The values can be any type, and they are indexed by
integers, so in that respect tuples are a lot like lists. The important difference is that
tuples are immutable.
Syntactically, a tuple is a comma-separated list of values:

In [ ]:
t = 'a', 'b', 'c', 'd', 'e'

Although it is not necessary, it is common to enclose tuples in parentheses:

In [ ]:
t = ('a', 'b', 'c', 'd', 'e')

To create a tuple with a single element, you have to include a final comma:

In [ ]:
t1 = 'a',

In [ ]:
type(t1)

A value in parentheses is not a tuple:

In [ ]:
t2 = ('a')
type(t2)

Another way to create a tuple is the **built-in function** tuple. With no argument, it
creates an empty tuple:

In [ ]:
t = tuple()
t

If the argument is a sequence **(string, list or tuple)**, the result is a tuple with the elements of the sequence:

In [ ]:
t = tuple('lupins')
t

Because tuple is the name of a **built-in function**, you should avoid using it as a variable name.
Most list operators also work on tuples. The bracket operator indexes an element:

In [ ]:
t = ('a', 'b', 'c', 'd', 'e')
t[0]

And the slice operator selects a range of elements:

In [ ]:
 t[1:3]

But if you try to modify one of the elements of the tuple, you get an error:

In [ ]:
t[0] = 'A'

**TypeError: object doesn't support item assignment**
Because tuples are immutable, you can’t modify the elements. But you can replace one tuple with another:

In [ ]:
t = ('A',) + t[1:]
t

This statement makes a new tuple and then makes `t` refer to it.
The relational operators work with `tuples and other sequences`; Python starts by comparing the first element from each sequence. If they are equal, it goes on to the next elements, and so on, until it finds elements that differ. Subsequent elements are not considered (even if they are really big).

In [ ]:
(0, 1, 2) < (0, 3, 4)

In [ ]:
(0, 1, 2000000) < (0, 3, 4)

#### Tuple Assignment
It is often useful to swap the values of two variables. With conventional assignments, you have to use a temporary variable. For example, to swap `a` and `b`:

In [ ]:
temp = a
a = b
b = temp

This solution is cumbersome; tuple assignment is more elegant:

In [ ]:
a, b = b, a

The left side is a tuple of variables; the right side is a tuple of expressions. Each value is assigned to its respective variable. All the expressions on the right side are evaluated before any of the assignments. The number of variables on the left and the number of values on the right have to be the same:

In [ ]:
a, b = 1, 2, 3

**ValueError: too many values to unpack**
More generally, the right side can be any kind of sequence (string, list or tuple). For example, to split an email address into a user name and a domain, you could write:

In [ ]:
addr = 'monty@python.org'
uname, domain = addr.split('@')
print(uname, domain)

The return value from split is a list with two elements; the first element is assigned
to `uname`, the second to `domain`:

#### Tuples as Return Values
Strictly speaking, a function can only return one value, but if the value is a tuple, the effect is the same as returning multiple values. For example, if you want to divide two integers and compute the quotient and remainder, it is inefficient to compute `x/y` and then `x%y`. It is better to compute them both at the same time.

The `built-in function` `divmod` takes two arguments and returns a tuple of two values:
the quotient and remainder. You can store the result as a tuple:

In [ ]:
t = divmod(7, 3)
t

Or use tuple assignment to store the elements separately:

In [ ]:
quot, rem = divmod(7, 3)
print(quot,rem)

#### Tuple Functions

There are a few built-in functions that you can use to work with tuples. Let’s look at a few of them.

**len()** 

Like with strings and lists, we can calculate the length of a tuple by using `len()`, where we pass the tuple as a parameter, as in:

In [ ]:
coral = ('blue coral', 'staghorn coral', 'pillar coral', 'elkhorn coral')
numbers = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)
kelp = ('wakame', 'alaria', 'deep-sea tangle', 'macrocystis')

In [ ]:
len(coral)

This function is useful for when you need to enforce minimum or maximum collection lengths, for example, or to compare sequenced data.

If we print out the length for our tuples `kelp and numbers`, we’ll receive the following output:

In [ ]:
print(len(kelp))
print(len(numbers))

Although these examples have relatively few items, the `len()` function provides us with the opportunity to see how many items are in large tuples.

**max() and min()** 

When we work with tuples composed of numeric items, (including integers and floats) we can use the `max() and min()` functions to find the highest and lowest values contained in the respective tuple.

These functions allow us to find out information about quantitative data, such as test scores, temperatures, prices, etc.

Let’s look at a tuple comprised of floats:

In [ ]:
more_numbers = (11.13, 34.87, 95.59, 82.49, 42.73, 11.12, 95.57)

To get the `max()`, we would pass the tuple into the function, as in `max(more_numbers)`. We’ll combine this with the `print()` function so that we can output our results:

To get the `max()`, we would pass the tuple into the function, as in `max(more_numbers)`. We’ll combine this with the `print()` function so that we can output our results:

In [ ]:
print(max(more_numbers))

The `max()` function returned the highest value in our tuple.

Similarly, we can use the `min()` function:

In [ ]:
print(min(more_numbers))

Here, the smallest `float` was found in the tuple and printed out.

Just like with the `len()` function, the `max()` and `min()` functions can be very useful when working with tuples that contain many values.

### Set

Python **Set** is an **unordered collection of unique elements**. Suppose you have a list and you need only the unique items of the list you can use Python Set. The data is also not indexed, so we can’t access elements using indices or `get()`.

Similarly, if you need only unique items from input, Python set can help you to do so. You can add or delete items from it. You can initialize a set by placing elements in between curly braces. Like other sequences, one set can have elements of multiple data-types. Moreover, you can also create a set from a list by using `set()` function. The following example will give you some idea about initializing a set.

In [ ]:
#set containing single data-type
set1 = {1, 2, 3, 4, 2, 3, 1}
print(set1)

#set containing multiple data-type
set2 = {1, 2, 3, (1, 2, 3), 2.45, "Python", 2, 3}
print(set2)

#creating a set from a list
theList = [1, 2, 3, 4, 2, 3, 1]
theSet = set(theList)
print(theSet)

**Adding Elements to Python Set**

In previous example, we learned how to initialize Python set directly. Suppose we need to add element to set, we can do so by using `add()` function. But this function can add a single element. If you want to add iterable elements like list or set, you can do so by using `update()` function. The following example will help you understand the thing

In [ ]:
#initialize an empty set
theSet = set()

#add a single element using add() function
theSet.add(1)
theSet.add(2)
theSet.add(3)
theSet.add(2)
#add another data-type
theSet.add('hello')

#add iterable elements using update() function
theSet.update([1,2,4,'hello','world']) #list as iterable element
theSet.update({1,2,5}) #set as iterable element
print(theSet)

**Remove Elements from Python Set**

There are two functions to remove elements from Python Set. One is `remove()` and another is `discard()` function. If the element you are trying to remove is not in the set, the `remove()` function will raise exception for this. But the discard function will not do anything like this. The following code will show you those

In [ ]:
theSet = {1,2,3,4,5,6}

#remove 3 using discard() function
theSet.discard(3)
print(theSet)

#call discard() function again to remove 3
theSet.discard(3) #This won't raise any exception
print(theSet)

#call remove() function to remove 5
theSet.remove(5)
print(theSet)

#call remove() function to remove 5 again
theSet.remove(5) #this would raise exception
print(theSet) #this won't be printed

**Python Set Operations**

You might be familiar with some mathematical set operations like `union, intersection, difference`. We can also do those using Python set. Now, we will learn how to do that.

**Python Set Union**

**Union** is the operation to merge two sets. That means, union will create another set that contains all unique elements of two sets. For example, `{1, 2, 3, 4} and {2, 3, 5, 7}` are two sets. If we do union operation over them, we get `{1, 2, 3, 4, 5, 7}`. We can obtain this by using `union()` function.

**Python Set Intersection**

Again, intersection is the operation to get the common unique elements of two sets. For example, `{1, 2, 3, 4} and { 2, 3, 5, 7}` are two sets. If we intersect them, we get, `{2, 3}`. The intersection operation is done by `intersection()` function.

**Python Set Difference**

Now, difference operation compares two sets and creates a new set containing items from set A which are not common in set B. Suppose, we have two sets, `A = {1, 2, 3, 4} and B = {2, 3, 5, 7}`. Then, A - B operation will generate `{1, 4}`. Moreover,` B - A will generate {5, 7}`. The difference operation is done by `difference()` function… The following code will give you idea about how to do these set operation in python programming.

In [ ]:
A = {1, 2, 3, 4} #initializing set A
B = {2, 3, 5, 7} #initializing set B

union_operation = A.union(B)

print("A union B :")
print(union_operation)

intersection_operation = A.intersection(B)

print("A intersection B :")
print(intersection_operation)

difference_operation = A.difference(B)

print("A-B :")
print(difference_operation)

difference_operation = B.difference(A)
print("B-A :")
print(difference_operation)

### Converting to a List

We can convert a `tuple, set, or dictionary` to a list using the `list()` constructor. In the case of a dictionary, only the keys will be converted to a list.

In [ ]:
star_wars_tup = ("Anakin", "Darth Vader", 1000)
print(star_wars_tup)

In [ ]:
star_wars_list = list(star_wars_tup)  # Converting from tuple
print(star_wars_list)

In [ ]:
star_wars_set = {"Anakin", "Darth Vader", 1000}
print(star_wars_set)

In [ ]:
star_wars_list = list(star_wars_set)  # Converting from set
print(star_wars_list)

In [ ]:
star_wars_dict = {1: "Anakin", 2: "Darth Vader", 3: 1000}
print(star_wars_dict)

In [ ]:
star_wars_list = list(star_wars_dict)  # Converting from dictionary
print(star_wars_list)

We can also use the `dict.items()` method of a dictionary to convert it into an `iterable of (key, value) tuples`. This can further be cast into a list of tuples using `list()`:

In [ ]:
star_wars_dict = {1: "Anakin", 2: "Darth Vader", 3: 1000}
print(star_wars_dict)

star_wars_list = list(star_wars_dict.items())
print(star_wars_list)

### Converting to a Tuple 

Any data structure can be converted to a tuple using the `tuple()` constructor. In the case of a dictionary, only the keys will be converted to a tuple:

In [ ]:
star_wars_list = ["Anakin", "Darth Vader", 1000]
print(star_wars_list)

In [ ]:
star_wars_tup = tuple(star_wars_list)  # Converting from list
print(star_wars_tup)

In [ ]:
star_wars_set = {"Anakin", "Darth Vader", 1000}
print(star_wars_set)

In [ ]:
star_wars_tup = tuple(star_wars_set)  # Converting from set
print(star_wars_tup)

In [ ]:
star_wars_dict = {1: "Anakin", 2: "Darth Vader", 3: 1000}
print(star_wars_dict)

In [ ]:
star_wars_tup = tuple(star_wars_dict)  # Converting from dictionary
print(star_wars_tup)

### Converting to a Set #

The `set()` constructor can be used to create a set out of any other data structure. In the case of a dictionary, only the keys will be converted to a set:

In [ ]:
star_wars_list = ["Anakin", "Darth Vader", 1000]
print(star_wars_list)

In [ ]:
star_wars_set = set(star_wars_list)  # Converting from list
print(star_wars_set)

In [ ]:
star_wars_tup = ("Anakin", "Darth Vader", 1000)
print(star_wars_tup)

In [ ]:
star_wars_set = set(star_wars_tup)  # Converting from tuple
print(star_wars_set)

In [ ]:
star_wars_dict = {1: "Anakin", 2: "Darth Vader", 3: 1000}
print(star_wars_dict)

In [ ]:
star_wars_set = set(star_wars_dict)  # Converting from dictionary
print(star_wars_set)

### Converting to a Dictionary 

The `dict()` constructor cannot be used in the same way as the others because it requires key-value pairs instead of just values. Hence, the data must be stored in a format where pairs exist.

For example, a list of tuples where the length of each tuple is 2 can be converted into a dictionary.

Those pairs will then be converted into key-value pairs:

In [ ]:
star_wars_list = [[1,"Anakin"], [2,"Darth Vader"], [3, 1000]]
print (star_wars_list)

In [ ]:
star_wars_dict = dict(star_wars_list) # Converting from list
print(star_wars_dict)

In [ ]:
star_wars_tup = ((1, "Anakin"), (2, "Darth Vader"), (3, 1000))
print (star_wars_tup)

In [ ]:
star_wars_dict = dict(star_wars_tup) # Converting from tuple
print(star_wars_dict)

In [ ]:
star_wars_set = {(1, "Anakin"), (2, "Darth Vader"), (3, 1000)}
print (star_wars_set)

In [ ]:
star_wars_dict = dict(star_wars_set) # Converting from set
print(star_wars_dict)

### Bug-Fixing Exercises

#### Bug-Fixing Exercise 1
The code below tries to extract `'b'` from the list, but there is an **error**. Try to fix the code.

In [ ]:
elements = ['a', 'b', 'c']
print(elements(1))

#### Bug-Fixing Exercise 2
The code below aims to update `'b'` with `'x'` in elements. However, the output of the code is still `['a', 'b', 'c']`. Try to fix the code so `'b'` is replaced with `'x'`.

In [ ]:
elements = ['a', 'b', 'c']
new = 'x'
new = elements[1]
print(elements)

#### Bug-Fixing Exercise 3

The program further below lets the user enter an index and returns the item with that index from the menu list. However, the code has an error. Run the code to see what error you get, and then fix the error.

In [ ]:
menu = ["pasta", "pizza", "salad"]
 
user_choice = input("Enter the index of the item: ")
 
message = f"You chose {menu[user_choice]}."
print(message)

#### Bug-Fixing Exercise 4
The program further below lets the user enter an index and returns the item with that index from the menu list. However, the code has an error. Run the code to see what error you get, and then fix the error.

In [ ]:

menu = ["pasta", "pizza", "salad"]
 
user_choice = input("Enter the index of the item: ")
 
message = f"You chose {menu[user_choice]}."
print(message)

Note: Since the code of the bug-fixing exercises is getting bigger day after day, don't try to find the error by just looking at the code. Instead, run the code on your IDE, inspect the error message, and finally fix the bug.

### Exercise

You are given a `list` called `my_list`. Using this list, you must create a tuple called `my_tuple`. The tuple will contain the list’s first element, last element, and the length of the list, in that same order.

**Sample Input** 

`my_list = [34, 82.6, "Darth Vader", 17, "Hannibal"]`

**Sample Output**

`my_tuple = (34, "Hannibal", 5)`

Coding Challenge
There are several ways of solving the problem. Flesh out the logic before moving on to the implementation.

In [ ]:
my_list = [34, 82.6, "Darth Vader", 17, "Hannibal"]