<a href='https://ibb.co/W34pJdv'> <img src="https://i.ibb.co/z5THvLV/HI-Logotype-Black-high-res.jpg" /></a>

### Data Types, Variables, Expressions, and Statements.

1. Data types.
2. Data type operations.
3. Variables as object stores - assignment, naming, swapping, deleting, updating, etc.
4. Converting data types.
5. Expressions and Statements.
6. Arithmetic Operations.
7. Commenting code.
8. Debugging.
9. Why!!

#### Python Data Types

There are different types of data types in Python. Some built-in Python data types are:

* Numeric data types: int, float, complex

* String data types: str

* Sequence types: list, tuple, range

* Binary types: bytes, bytearray, memoryview

* Mapping data type: dict

* Boolean type: bool

* Set data types: set, frozenset

#### 1. Python Numeric Data Type
Python numeric data type is used to hold numeric values like;

- int - holds signed integers of non-limited length.
- long- holds long integers(exists in Python 2.x, deprecated in Python 3.x).
- float- holds floating precision numbers and it’s accurate up to 15 decimal places.
- complex- holds complex numbers.

To see what type of numerical value is it holding right now, we can use <b>type()</b>, like this

In [ ]:
#create a variable with integer value.
a=100
print("The type of variable having value", a, " is ", type(a))

#create a variable with float value.
b=10.2345
print("The type of variable having value", b, " is ", type(b))

#create a variable with complex value.
c=100+3j
print("The type of variable having value", c, " is ", type(c))

#### 2. Python String Data Type
The string is a sequence of characters. Python supports Unicode characters. Generally, strings are represented by either single or double-quotes.

In [ ]:
a = "string in a double quote"
b= 'string in a single quote'
print(a)
print(b)

# using ',' to concatenate the two or several strings
print(a,"concatenated with",b)

#using '+' to concate the two or several strings
print(a+" concated with "+b)

#### Three ways to write strings

In [ ]:
type('This is a string.')

In [ ]:
type("And so is this.")

In [ ]:
type("""and this.""")

In [ ]:
type('''and even this...''')

Double quoted strings can contain single quotes inside them, as in `"Bruce's beard"`, and single quoted strings can have double quotes inside them, as in `'The knights who say "Ni!"'`.

Strings enclosed with three occurrences of either quote symbol are called triple quoted strings. They can contain either single or double quotes:

In [ ]:
print('''"Oh no," she exclaimed, "Ben's bike is broken!"''')

Triple quoted strings can even span multiple lines:

In [ ]:
message = """This message will
... span several
... lines."""
print(message)

#### String literals and escape sequences

A `literal` is a notation for representing a constant value of a built-in data type.

In string literals, most characters represent themselves, so if we want the literal with letters s-t-r-i-n-g, we simply write 'string'.

But what if we want to represent the literal for a linefeed (what you get when you press the <Enter> key on the keyboard), or a tab? These string literals are not printable the way an s or a t is. To solve this problem Python uses an `escape sequence` to represent these string literals.

There are several of these escape sequences that are helpful to know.

| Escape Sequence | Meaning
| --- | --- 
|\\ |Backslash (\)
|\' |Single quote (')
|\" |Double quote (")
|\b |Backspace
|\n |Linefeed
|\t |Tab

\n is the most frequently used of these. The following example will hopefully make what it does clear.

In [ ]:
print("Line 1\n\n\nLine 5")

#### 3. Boolean Type, Boolean Context, and “Truthiness”
Python 3 provides a Boolean data type. Objects of Boolean type may have one of two values, True or False:

In [ ]:
type(True)

In [ ]:
type(False)

### Data type Operations

#### Int and float Operations

We already know the following operators which may be applied to numbers: `+, -, * and **` . The division operator `/` for integers gives a floating-point real number (an object of type float). The exponentiation `**` also returns a float when the power is negative:

In [ ]:
print(17 / 3)  # gives 5.66666666667
print(2 ** 4)  # gives 16
print(2 ** -2) # gives 0.25

#### String Operations

In general, you can’t perform mathematical operations on strings, even if the strings look like numbers, so the following are illegal: '2'-'1' 'eggs'/'easy' 'third'*'a charm' But there are two exceptions, + and *.The + operator performs string concatenation, which means it joins the strings bylinking them end-to-end. For example:

In [ ]:
first = 'throat'
second = 'warbler'
first + second

The `*` operator also works on strings; it performs repetition. For example, `'Spam'*3` is `'SpamSpamSpam'`. If one of the values is a string, the other has to be an integer.This use of `+` and `*` makes sense by analogy with addition and multiplication. Just as `4*3` is equivalent to `4+4+4`, we expect `'Spam'*3` to be the same as `'Spam'+'Spam'+'Spam'`, and it is. On the other hand, there is a significant way in which string concatenation and repetition are different from integer addition and multiplication.

In [ ]:
a = 'Spam'
a*3

Python string is a sequence of Unicode characters that is enclosed in the quotations marks. In this article, we will discuss the **in-built function** i.e. the functions provided by the Python to operate on strings. 

Note: Every string method does not change the original string instead returns a new string with the changed attributes. 

Case Changing of Strings
The below functions are used to change the case of the strings.

* `lower()`: Converts all uppercase characters in a string into lowercase
* `upper()`: Converts all lowercase characters in a string into uppercase
* `title()`: Convert string to title case

Example: Changing the case of Python Strings.

In [ ]:
# working of upper() function
text = 'Sweden is a countRY'

# upper() function to convert
# string to upper case
print("\nConverted String:")
print(text.upper())

# lower() function to convert
# string to lower case
print("\nConverted String:")
print(text.lower())

# converts the first character to
# upper case and rest to lower case
print("\nConverted String:")
print(text.title())

# original string never changes
print("\nOriginal String")
print(text)

|Method	|Description
-----|-----
|capitalize()	|Converts the first character to upper case
|casefold()	|Converts string into lower case
|center()	|Returns a centered string
|count()	|Returns the number of times a specified value occurs in a string
|encode()	|Returns an encoded version of the string
|endswith()	|Returns true if the string ends with the specified value
|expandtabs()	|Sets the tab size of the string
|find()	|Searches the string for a specified value and returns the position of where it was found
|format()	|Formats specified values in a string
|format_map()	|Formats specified values in a string
|index()	|Searches the string for a specified value and returns the position of where it was found
|isalnum()	|Returns True if all characters in the string are alphanumeric
|isalpha()	|Returns True if all characters in the string are in the alphabet
|isascii()	|Returns True if all characters in the string are ascii characters
|isdecimal()	|Returns True if all characters in the string are decimals
|isdigit()	|Returns True if all characters in the string are digits
|isidentifier()	|Returns True if the string is an identifier
|islower()	|Returns True if all characters in the string are lower case
|isnumeric()	|Returns True if all characters in the string are numeric
|isprintable()	|Returns True if all characters in the string are printable
|isspace()	|Returns True if all characters in the string are whitespaces
|istitle()	|Returns True if the string follows the rules of a title
|isupper()	|Returns True if all characters in the string are upper case
|join()	|Converts the elements of an iterable into a string
|ljust()	|Returns a left justified version of the string
|lower()	|Converts a string into lower case
|lstrip()	|Returns a left trim version of the string
|maketrans()	|Returns a translation table to be used in translations
|partition()	|Returns a tuple where the string is parted into three parts
|replace()	|Returns a string where a specified value is replaced with a specified value
|rfind()	|Searches the string for a specified value and returns the last position of where it was found
|rindex()	|Searches the string for a specified value and returns the last position of where it was found
|rjust()	|Returns a right justified version of the string
|rpartition()	|Returns a tuple where the string is parted into three parts
|rsplit()	|Splits the string at the specified separator, and returns a list
|rstrip()	|Returns a right trim version of the string
|split()	|Splits the string at the specified separator, and returns a list
|splitlines()	|Splits the string at line breaks and returns a list
|startswith()	|Returns true if the string starts with the specified value
|strip()	|Returns a trimmed version of the string
|swapcase()	|Swaps cases, lower case becomes upper case and vice versa
|title()	|Converts the first character of each word to upper case
|translate()	|Returns a translated string
|upper()	|Converts a string into upper case
|zfill()	|Fills the string with a specified number of 0 values at the beginning

### Variables in Python

* Variable Assignment
* Variable Types in Python
* Naming Variable
* Object Identity
* Delete Variables in Python
* Updating Variables

#### Variable Assignment
Think of a variable as a name attached to a particular object. In Python, variables need not be declared or defined in advance, as is the case in many other programming languages. To create a variable, you just assign it a value and then start using it. Assignment is done with a single equals sign `(=)`:

In [ ]:
n = 300

This is read or interpreted as <b>“n is assigned the value 300.”</b> Once this is done, n can be used in a statement or expression, and its value will be substituted:

In [ ]:
print(n)

Just as a literal value can be displayed directly from the interpreter prompt in a REPL session without the need for print(), so can a variable:

In [ ]:
n

Later, if you change the value of n and use it again, the new value will be substituted instead:

In [ ]:
n = 1000
print(n)

Python also allows chained assignment, which makes it possible to assign the same value to several variables simultaneously:

In [ ]:
a = b = c = 300
print(a, b, c)

#### Variable Types in Python

In many programming languages, variables are statically typed. That means a variable is initially declared to have a specific data type, and any value assigned to it during its lifetime must always have that type.

Variables in Python are not subject to this restriction. In Python, a variable may be assigned a value of one type and then later re-assigned a value of a different type:

In [ ]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

Variables can represent any data type, not just integers and string:

In [ ]:
my_string = 'Hello, World!'
my_flt = 45.06
my_bool = 5 > 9 #A Boolean value will return either True or False
my_list = ['item_1', 'item_2', 'item_3', 'item_4']
my_tuple = ('one', 'two', 'three')
my_dict = {'letter': 'g', 'number': 'seven', 'symbol': '&'}

If you print any of the above variables, Python will return what that variable is equivalent to. For example, let’s work with the assignment statement for the `list data type` above:

In [ ]:
my_list = ['item_1', 'item_2', 'item_3', 'item_4']
print(my_list)

We passed the list value of `['item_1', 'item_2', 'item_3', 'item_4']` to the variable my_list, and then used the **print()** function to print out that value by calling `my_list`.

Variables work by carving out a little area of memory within your computer which accepts specified values that are then associated with that space.

#### Object Identity
In Python, every object that is created is given a number that uniquely identifies it. It is guaranteed that no two objects will have the same identifier during any period in which their lifetimes overlap. Once an object’s reference count drops to zero and it is garbage collected, as happened to the 300 object above, then its identifying number becomes available and may be used again.

The built-in Python function `id()` returns an object’s integer identifier. Using the `id()` function, you can verify that two variables indeed point to the same object:

In [ ]:
n = 300
m = n
id(n)

In [ ]:
id(m)

In [ ]:
m = 400
id(m)

After the assignment `m = n`, `m` and `n` both point to the same `object`, confirmed by the fact that `id(m)` and `id(n)` return the same number. Once `m` is reassigned to `400`, `m` and `n` point to different objects with different identities.

#### Naming Variables: Rules and Style
The naming of variables is quite flexible, but there are some rules you need to keep in mind:

* Variable names must only be one word (as in no spaces)
* Variable names must be made up of only letters, numbers, and underscore (`_`)
* Variable names cannot begin with a number

Although it is legal to use uppercase letters, by convention we don’t. If you do, remember that case matters. day and Day would be different variables.

The underscore character `( _)` can appear in a name. It is often used in names with multiple words, such as my_name or price_of_tea_in_china.

There are some situations in which names beginning with an underscore have special meaning, so a safe rule for beginners is to start all names with a letter other than the underscore.

If you give a variable an illegal name, you get a syntax error:

In [ ]:
76trombones = "big parade"

In [ ]:
more$ = 1000000

In [ ]:
class = "Computer Science 101"

`76trombones` is illegal because it does not begin with a letter.`more$` is illegal because it contains an illegal character, the dollar sign. But what’s wrong with `class`?

It turns out that `class` is one of the `Python keywords`. Keywords define the language’s syntax rules and structure, and they cannot be used as variable names.



PythonKeyword |  | . | .
-----|-----|----- |-----
False|None|True|'and'|
'as'|'assert'|'continue'|'def'|
'del'|'elif'|'else'|'except'|
'from'|'global'|'if'|'import'|
'in'|'is'|'lambda'|'nonlocal'|
'not'|'or'|'pass'|'raise'|'with'|
'return'|'try'|'while'|'yield'|
'finally'|'assert'|'break'|'class'|
'for'| | |

#### Delete Variables in Python

Using the `del` keyword
Using the `'del'` command is the most known and easiest method to delete variables in Python. The `del` keyword deletes the `objects`. Since everything in Python is an `object`, therefore `lists, tuples and dictionaries` can also be deleted using `'del'`. It has a really simple syntax.

In [ ]:
# Example -> Deleting a variable in Python using 'del' keyword

# declaring variable
a = 25
print("variable: ", a)
# deleting the variable
del a

# calling out the variable again
print("variable: ", a)

Notice the `NameError` error obtained on calling the variable `'a'` again, after deleting it. Hence, this proves that the variable `'a'` is deleted using the `del` keyword.

While using the `del` keyword to delete variables in Python, you must be sure if you actually don't want to access the variable later on at any stage in your program. Unnecessary deletion of variables (objects) can lead to error. You won't be able to access these deleted variables, once deleted, from the program

#### Deleting Multiple Variables in Python
You can also delete multiple variables together in Python using the `del` keyword. It is similar to initializing multiple variables in one line, separated by a `comma`.

In [ ]:
# Example -> Deleting multiple variables in Python

# declaring multiple variables
a, b, c = 5, 10, 15
print("variables: a: ", a, " b: ", b, " c: ", c)
# deleting multiple variables
del a, b, c

# calling out the variable again
print("variables: a: ", a, " b: ", b, " c: ", c)

#### Updating Variables

One of the most common forms of reassignment is an update where the new value of the variable depends on the old. For example,

``` x = x + 1 ```
This means get the current value of `x`, add one, and then update `x` with the new value. The new value of `x` is the old value of `x` plus `1`. Although this assignment statement may look a bit strange, remember that executing assignment is a two-step process. First, evaluate the right-hand side expression. Second, let the variable name on the left-hand side refer to this new resulting object. The fact that `x` appears on both sides does not matter. The semantics of the assignment statement makes sure that there is no confusion as to the result. The visualizer makes this very clear.

In [ ]:
x = 6        # initialize x
print(x)
x = x + 1    # update x
print(x)

If you try to update a `variable` that doesn’t exist, you get an error because Python evaluates the expression on the right side of the assignment operator before it assigns the resulting value to the name on the left. Before you can update a variable, you have to initialize it, usually with a simple assignment. In the above example, `x` was initialized to `6`

### Converting data types.

#### Converting Number Types

In Python, there are two number data types: integers and floating-point numbers or floats. Sometimes you are working on someone else’s code and will need to convert an integer to a float or vice versa, or you may find that you have been using an integer when what you really need is a float. Python has built-in methods to allow you to easily convert integers to floats and floats to integers.

#### Converting Integers to Floats
Python’s method `float()` will convert integers to floats. To use this function, add an integer inside of the parentheses:

In [ ]:
float(57)

In this case, `57` will be converted to `57.0`.

You can also use this with a variable. Let’s declare `f` as equal to `57`, and then print out the new float:

In [ ]:
f = 57
print(float(f))

By using the `float()` function, we can convert `integers` to `floats`.

#### Converting Floats to Integers

Python also has a built-in function to convert floats to integers: `int()`.

The `int()` function works similarly to the `float()` function: you can add a floating-point number inside of the parentheses to convert it to an integer:

In [ ]:
int(390.8)

In this case, `390.8` will be converted to `390`.

You can also use this with variables. Let’s declare `b` as equal to `125.0`, and c as equal to `390.8`, then print out the new floats:

In [ ]:
b = 125.0
c = 390.8

print(int(b))
print(int(c))

When converting floats to integers with the `int()` function, Python cuts off the decimal and remaining numbers of a float to create an integer. Even though we may want to round `390.8` up to `391`, Python will not do this through the `int()` function.

#### Numbers Converted Through Division

In Python 3, relevant quotients are converted from integers to floats when doing division That is, when you divide `5` by `2`, in Python 3 you will get a float for an answer `(2.5)`:

In [ ]:
a = 5 / 2
print(a)

#### Converting with Strings
A `string` is a sequence of one or more characters (letters, numbers, symbols). Strings are a common form of data in computer programs, and we may need to convert strings to numbers or numbers to strings fairly often, especially when we are taking in user-generated data.

We can convert numbers to strings through using the `str()` method. We’ll pass either a number or a variable into the parentheses of the method and then that numeric value will be converted into a string value.

Let’s first look at converting integers. To convert the `integer 12` to a string value, you can pass `12` into the `str()` method:

In [ ]:
str(12)

The quotes around the number `12` signify that the number is no longer an `integer` but is now a `string` value.

With variables we can begin to see how practical it can be to convert integers to strings.

In [ ]:
user = "Sammy"
lines = 50

print("Congratulations, " + user + "! You just wrote " + lines + " lines of code.")

When we run this code, we receive the following error:


`TypeError: can only concatenate str (not "int") to str`

We’re not able to concatenate `strings` and `integers` in Python, so we’ll have to convert the variable lines to be a string value:

In [ ]:
user = "Sammy"
lines = 50

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code.")

If we are looking to convert a `float` to a `string` rather than an `integer` to a `string`, we follow the same steps and format. When we pass a `float` into the `str()` method, a string value of the float will be returned. We can use either the float value itself or a variable:

In [ ]:
print(str(421.034))

f = 5524.53
print(str(f))

#### Converting Strings to Numbers
Strings can be converted to numbers by using the `int()` and `float()` methods.

If your string does not have decimal places, you’ll most likely want to convert it to an integer by using the `int()` method.

Let’s use the example of the user Sammy keeping track of lines of code written each day. We may want to manipulate those values with math to provide more interesting feedback for the user, but those values are currently stored in strings:

In [ ]:
lines_yesterday = "50"
lines_today = "108"

lines_more = lines_today - lines_yesterday

print(lines_more)

`TypeError: unsupported operand type(s) for -: 'str' and 'str'`

Because the two numeric values were stored in strings, we received an error. The operand `-` for subtraction is not a valid operand for two string values.

Let’s modify the code to include the `int()` method that will convert the `strings to integers`, and allow us to do math with values these that were originally strings.

In [ ]:
lines_yesterday = "50"
lines_today = "108"

lines_more = int(lines_today) - int(lines_yesterday)

print(lines_more)

The variable `lines_more` is automatically an `integer`, and it is equal to the numeric value of `58` in this example.

We can also convert the numbers in the example above to float values by using the `float()` method in place of the `int()` method. Instead of receiving the output of `58`, we’ll receive the output of `58.0`, a float.

The user Sammy is earning points in decimal values

In [ ]:
total_points = "5524.53"
new_points = "45.30"

new_total_points = total_points + new_points

print(new_total_points)

In this case, using the `+` operand with two strings is a valid operation, but it is concatenating two strings rather than adding two numeric values together. So, our output looks unusual since it just places the two values next to each other.

We’ll want to convert these `strings to floats` prior to performing any math with the `float()` met

In [ ]:
total_points = "5524.53"
new_points = "45.30"

new_total_points = float(total_points) + float(new_points)

print(new_total_points)

Now that we have converted the two `strings to floats`, we receive the anticipated result that adds `45.30 to 5524.53`.

If we try to convert a string value with decimal places to an integer, we’ll receive an error:

In [ ]:
f = "54.23"
print(int(f))

`Output
ValueError: invalid literal for int() with base 10: '54.23'`

If we pass a decimal value in a string to the `int()` method we’ll receive an error because it will not convert to an integer.

Converting strings to numbers enables us to quickly modify the data type we are working with so that we can perform operations on numeric values that were originally cast as strings.

#### Converting to Tuples and Lists
You can use the methods `list()` and `tuple()` to convert the values passed to them into the list and tuple data type respectively. In Python:

a list is a mutable ordered sequence of elements that is contained within square brackets `[ ]`.
a tuple is an immutable ordered sequence of elements contained within parentheses `( )`.

#### Converting to Tuples
Let’s start with converting a list to a tuple. Converting a list to a tuple, because it’s an immutable data type, can allow substantial optimization to the programs that we create. When we use the method `tuple()` it will return the tuple version of the value passed to it.

In [ ]:
print(tuple(['pull request', 'open source', 'repository', 'branch']))

We see that a `tuple` is printed out in the output, as the items are now contained within parentheses rather than square brackets.

Let’s use `tuple()` with a variable that represents a `list`:

In [ ]:
sea_creatures = ['shark', 'cuttlefish', 'squid', 'mantis shrimp']
print(tuple(sea_creatures))

Again, we see that the list value is changed to a tuple value, indicated by the parentheses. We can convert any iterable type to a tuple, including strings:

In [ ]:
print(tuple('Sammy'))

Because we can iterate through `strings`, we can convert them to tuples with the `tuple()` method. With data types that are not iterable, however, like `integers and floats`, we will receive a type error:

In [ ]:
print(tuple(5000))

While it is possible to convert the integer to a string and then convert to a tuple, as in `tuple(str(5000))`, it is best to opt for readable code over complicated conversions.

#### Converting to Lists
Converting values, especially tuples, to lists can be useful when you need to have a mutable version of that value.

We’ll use the `list()` method to convert the following `tuple to a list`. Because the syntax for creating a list uses parentheses, be sure to include the parentheses of the `list()` method, and in this case the `print()` method as well:

In [ ]:
print(list(('blue coral', 'staghorn coral', 'pillar coral')))

The square brackets signal that a list has been returned from the original tuple value that was passed through the `list()` method.

To make the code more readable, we can remove one of the pairs of parentheses by using a variable:

In [ ]:
coral = ('blue coral', 'staghorn coral', 'pillar coral')
list(coral)

In [ ]:
print(list('shark'))

Here the string 'shark' was converted to a list, providing a mutable version of the original value.

### Expressions and Statements

A **statement** is an instruction that the Python interpreter can execute. We have only seen the `assignment statement` so far. Some other kinds of statements that we’ll see shortly are `while statements`, `for statements`, `if statements`, and `import statements`. (There are other kinds too!)

An **expression** is a combination of values, variables, operators, and calls to functions. Expressions need to be evaluated. If you ask Python to print an expression, the interpreter evaluates the expression and displays the result.

When you type a **statement** , Python executes it and displays the result, if there is one. The result of a print statement is a value. **Assignment statements** don't produce a result.

A script usually contains a sequence of statements. If there is more than one statement, the results appear one at a time as the statements execute.

For example, the script

In [ ]:
print (1)
x = 2
print (x)

statement is a unit of code that has an effect, like creating a variable or displaying a value.

`x = 2`

`print(x)`

### Arithmetic Operations

| Operator	| Description	| Example
-----|-----|----- 
|+	|used to add two numbers	|sum = a + b
|–	|used for subtraction	|difference = a – b
|*	|used to multiply two numbers. If a string and int is multiplied then the string is repeated the int times.	mul = |a*b>>> “Hi”*5 >>>‘HiHiHiHiHi’		
|/	|used to divide two numbers	|div = b/a
|%	|modulus operator, returns the remainder of division	|mod = a%b
|**	|exponent operator | 2** 2 >> 4

In [ ]:
#create two variables
a=100
b=200

# addition (+) operator
print(a+b) 

# subtraction (-) operator
print(a-b) 

# multiplication (*) operator
print(a*b)

# division (/) operator
print(b/a)

# modulus (%) operator
print(a%b) # prints the remainder of a/b

# exponent (**) operator
print(a**b) #prints a^b

#### Python Operator Precedence
When an expression contains more than one operator, the order of evaluation depends on the order of operations. For mathematical operators, Python follows mathematical convention. The acronym **PEMDAS** is a useful way to remember the rules:

1. Parenthesis – `()`
2. Exponentiation – `**`
3. Compliment, unary plus and minus `– ~, +, -`
4. Multiply, Divide, modulo – `*, /, %`
5. Addition and Subtraction – `+, -`

* **Parentheses** have the highest precedence and can be used to force an expression
to evaluate in the order you want. Since expressions in parentheses are evaluated first, `2 * (3-1) is 4, and (1+1)** (5-2) is 8`. You can also use parentheses to make an expression easier to read, as in `(minute * 100) / 60`, even if it doesn’tchange the result.

In [ ]:
2 * (3-1)

In [ ]:
(1+1)** (5-2)

* **Exponentiation** has the next highest precedence, so `1 + 2** 3 is 9`, not `27, and 2 * 3** 2 is 18, not 36`.

In [ ]:
1 + 2** 3

In [ ]:
2 * 3** 2

* **Multiplication and Division** have higher precedence than Addition and Subtraction. So `2 * 3-1 is 5, not 4`, and `6+4/2` is `8`, not `5`.

In [ ]:
2 * 3-1

In [ ]:
6+4/2

* Operators with the same precedence are evaluated from left to right (except exponentiation). So in the expression degrees / 2 * pi, the division happens first and the result is multiplied by pi. To divide by 2π, you can use parentheses or write degrees / 2 / pi.

Now, what do you think the series of operation would be? We can add 2 and 3, then multiply the result by 4. Also, we can multiply 3 and 4 first, then add 2 with it. Above we can see that the operators’ precedence is important.

In [ ]:
2+3*4

### Commenting code

How to Comment out Code in Python

The syntax for comments differs in each programming language. In this section, we'll see how to add comments using Python.

Comments in Python start with the `#` symbol. Here's an example:

In [ ]:
#The code below prints Hello World! to the console
print("Hello World!")

In the code above, I have used a comment to explain what the code does. When the code is being executed, the interpreter will ignore the comment and run the `print()` function.

We can also comment out actual code. That is:

In [ ]:
# print("Hello World!")
print("Happy coding!")

When we run the code, only the second line will be interpreted.

You don't always have to place comments above the line of code they're referencing. You can also put them on the same line. That is:

In [ ]:
print("Hello world") # Prints Hello World

#### How to Write Multi-Line Comments in Python

In this section, we'll see how to write comments that span across multiple lines.

Python has no built-in syntax for creating multi-line comments. Fortunately, there are two ways we can work around that. Here's the first:

In [ ]:
# When this code runs,
# you will see Hello World! 
# in the console. 
print("Hello world")

Above, we placed the `#` symbol on each line to continue writing our comment.

In this next example, we are going to use multi-line strings (starts and ends with three quotation marks) to nest our comment.

When you use multi-line strings in Python without assigning the string to a variable, that part of the code will be ignored.

Here's an example:

In [ ]:
"""
When this code runs,
you will see Hello World! 
in the console.
"""
print("Hello World!")

### Debugging


Three kinds of errors can occur in a program: `syntax errors`, `runtime errors`, and
`semantic errors`. It is useful to distinguish between them in order to track them down
more quickly.

* **Syntax error**: `“Syntax”` refers to the structure of a program and the rules about that structure.
For example, the code below has a syntax error:

`print("Hello"`

To fix it, you should first run the code and read the error message the code produces:

  `print("Hello"
         ^
SyntaxError: '(' was never closed`

The message gives will give you clues about the bug. In our example, it indicates that the first parenthesis was never closed. Using your knowledge and experience, you should go back to your code and add the parenthesis to fix the bug. In our case, the correct code with the bug fixed would be this:

`print("Hello")`


* **Runtime error**: The second type of error is a `runtime error`, so called because the error does not
appear until after the program has started running. These errors are also called
exceptions because they usually indicate that something exceptional (and bad)
has happened. Runtime errors are rare in the simple programs you will see in the first few chap‐
ters, so it might be a while before you encounter one.

* **Semantic error**: The third type of error is `“semantic”`, which means related to meaning. If there is
a semantic error in your program, it will run without generating error messages,
but it will not do the right thing. It will do something else. Specifically, it will do
what you told it to do. Identifying semantic errors can be tricky because it requires you to work back‐
ward by looking at the output of the program and trying to figure out what it is
doing

Run the above code, and you will see that it returns the expected output, which is Hello. That means the bug has been fixed. Let's do some bug-fixing exercises below.

#### Bug-Fixing Exercise 1

In [ ]:
#The following code has a syntax error. Try to fix it.

answers = ['Yes', 'No', 'Yes', 'No', 'No'

#The steps to complete a bug-fixing exercise: 

#1. Look carefully at the code and try to spot the bug.

#2. If you cannot spot the bug visually, try to run the code and read the syntax error. The error can give some clues on what the problem is.

#3. Once you know the problem, fix it, and then compare your code to the code provided by the instructor located inside the given solution links.

#### Bug-Fixing Exercise 2

In [ ]:
#The following code has a syntax error. Try to fix it.

my_answer = input("What is your answer?")
answers = ['Yes', 'No', 'Yes' 'No' my_answer]

#### Bug-Fixing Exercise 3

In [ ]:
#The following code has a syntax error. Try to fix it.

my_answer = input(What is your answer?)
answers = ['Yes', 'No', 'Yes', 'No', my_answer]

#### Bug-Fixing Exercise 4

In [ ]:
#The following code has a syntax error. Try to fix it.

my_answer = input["What is your answer?"]
answers = ['Yes', 'No', 'Yes', 'No', my_answer]

### Exercises 1

* We’ve seen that `n = 42` is legal. What about `42 = n?`
* How about `x = y = 1?`
* In some languages every statement ends with a semicolon, ;. What happens if you put a semicolon at the end of a Python statement
* What if you put a period at the end of a statement?
* In math notation you can multiply x and y like this: xy. What happens if you try that in Python?

### Exercise 2

#### Practice using the Python interpreter as a calculator:

1. The volume of a sphere with radius r is $\frac {4}{3}πr^3 \\$ . 
What is the volume of a sphere with radius 5. $.$

2. Suppose the cover price of a book is $$24.95 , but bookstores get a 40% discount. Shipping costs $3 for the first copy and 75 cents for each additional copy. What is the total wholesale cost for 60 copies?

3. If I leave my house at 6:52 am and run 1 mile at an easy pace (8:15 per mile), then
3 miles at tempo (7:12 per mile) and 1 mile at an easy pace again, what time do I
get home for breakfast?